.grow {
    flexGrow: 1,
}

.menuButton {
    marginRight: theme.spacing(2),
}

.sectionDesktop {
    display: 'none',

}

.sectionMobile {
    display: 'flex',

}


.profileIcon {
    align-items: right;
    color: blue;
}